/* DocumentPreview.css */

.document-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-preview {
  width: 300px; /* Ajusta el ancho según necesites */
  height: 400px; /* Ajusta la altura según necesites */
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
}

.navigation-buttons {
  margin-top: 10px;
}

.navigation-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.navigation-buttons button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
